.landing {
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    position: relative;
}


/* TO DARK MODE / LIGHT MODE */

.faSun .judul {
    color: #333;
}

.faMoon .judul {
    color: #fff;
}

.faMoon .des {
    color: #fff;
}

.faMoon .btn-2 {
    color: #fff;
}


/* END */

.wrap-landing {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.judul {
    color: #4A1D1F;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

.des {
    font-size: 16px;
    margin: 30px 0;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.button-order {
    display: flex;
}

.btn-1 {
    padding: 15px 30px;
    border: none;
    background-color: #4A1D1F;
    color: #fff;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-1:hover {
    background-color: #3a1518;
}

.btn-2 {
    padding: 15px 30px;
    border: 2px solid #4A1D1F;
    background-color: transparent;
    color: #4A1D1F;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.main {
    flex: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid green; */
}

.gambar {
    flex: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gambar-utama {
    display: flex;
    justify-content: right;
}

.landing .gambar .gambar-utama img {
    display: flex;
    /* background-position: 60px -100px; */
    width: 600px;
    padding: 0 40px 0px 0;
    background-position: center;
    background-size: cover;
}

.gambar-anak {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 30%;
    /* border: 2px solid orange; */
}

.gambar-child {
    width: 65px;
    min-height: 100%;
    margin: 5px;
    transition: all 0.2s;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.gambar-child:hover {
    transform: scale(1.2);
}


/* Mobile */

@media (max-width: 600px) {
    .wrap-landing {
        min-width: 100%;
        flex-wrap: wrap;
        position: relative;
        padding: 0;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gambar {
        flex: 1;
        flex-basis: 0%;
        position: relative;
        /* justify-content: center; */
        margin-top: -50px;
        justify-content: right;
    }
    .gambar-utama {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    .gambar-anak {
        display: flex;
        flex-direction: row;
        left: 15px;
        bottom: 30px;
        top: 90%;
        height: 50px;
    }
    .gambar-child {
        width: 50px;
        margin-bottom: 0px;
    }
    .main {
        padding: 30px 0px;
        flex: 1;
        flex-basis: 0%;
    }
    .landing .gambar .gambar-utama img {
        width: 300px;
        padding: 0;
        margin-bottom: 50px;
    }
    .judul {
        font-size: 35px;
    }
    .btn-1,
    .btn-2 {
        padding: 10px 20px;
    }
}